@model IEnumerable<BoardGameService.Models.BoardGame>

@{
	ViewData["Title"] = "Gry planszowe";
}

<h1>Gry planszowe:</h1>

<table class="table">
    <thead>
    <tr>
        <th>Numer</th>
        <th>Nazwa</th>
        <th>Ocena</th>
        <th>Opis</th>
        <th>Zdjecie</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => game.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => game.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => game.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => game.Description)
                </td>
                <td>
                    <img class="rounded" src="~/images/@game.Image" style="height: 9rem; width: 15rem"/>
                </td>
                <td>
                    @Html.ActionLink("Dyskusja", "Thread", new { id = game.Id})
                </td>
            </tr>
        }
    </tbody>
</table>